.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.listenAndRepertoirSection {
  display: flex;
  align-items: stretch;
  gap: 0;
}

.listenAndRepertoirSection > *:first-child {
  flex: 1 1 47%;
  min-width: 0;
  box-sizing: border-box;
  order: 2;
}

.listenAndRepertoirSection > *:last-child {
  flex: 1 1 53%;
  min-width: 0;
  box-sizing: border-box;
  order: 1;
}

/* FADE TRANSITION STYLING */
.fadeContainer {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

@media (width < 850px) {
  .listenAndRepertoirSection {
    flex-direction: column;
    align-items: center;
  }
  .listenAndRepertoirSection > *:first-child {
    flex: 1 1 100%;
    width: 100%;
    height: auto;
    /*  order: 2; */
  }
  .listenAndRepertoirSection > *:last-child {
    flex: 1 1 100%;
    width: 100%;
    height: auto;
    /*    order: 1; */
  }
}
