.header {
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  z-index: 10;
  border: none;
  outline: none;
  transition: opacity 0.7s ease-in-out;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.header.scrolled {
  opacity: 0.8;
  backdrop-filter: blur(10px);
}

.blue,
.red,
.white {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.active {
  flex: 4;
}

.blue {
  background-color: darkblue;
  color: white;
  transition: flex 0.5s ease-in-out;
}

.white {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  color: black;
}

.language {
  padding-left: 0.5rem;
}

.red {
  background-color: darkred;
  transition: flex 0.5s ease-in-out;
  color: white;
}

.textWrapper {
  display: flex;
  align-items: baseline;
}

.headers1 {
  padding: 0 1rem 0 1.5rem;
}
