.bookButton {
  width: 60%;
  height: auto;
  width: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bookButton:hover rect {
  fill: white;
}

.bookButton:hover text {
  fill: black;
}

@media (width < 800px) {
  .bookButton {
    width: 106px;
  }
}
